package views
import consts "steganography/views/consts"

templ Body(){
    <div class="w-full  flex flex-row mx-5" id="body">
        <div class={ consts.ChildrenBody}>
            <p class="font-sans text-xl text-white">Welcome Home</p>
        </div>
    </div>
}