package views


templ Boilerplate(){

    <html>
        <head>
            <script src="https://unpkg.com/htmx.org@1.5.0"></script>
            <script src="https://cdn.tailwindcss.com"></script>
        </head>
        <body>
            @Navbar()    
        </body>
    </html>
}
