package pages

templ get_encode(){
    <form action="/encode" method="post">
        <input type="file" name="base_file"></input>
        <input type="file" name="encode_file"></input>
        <button type="submit">Submit</button>
    </form>
}